

/* .container {
    max-width: 100%; 
    margin: auto; 
    background: #3e619b; 
    overflow: auto; 
} */


nav {
    background: #ef4b4c; 
    width: 100%; 
    overflow: auto; 
}

ul {
    margin: 0; 
    padding: 0; 
    list-style: none; 
}

li {
    float: left; 
}

nav a {
    width: 120px; 
    display: block;
    text-decoration: none; 
    text-align: center; 
    background: #ef4b4c; 
    font-size: 17px;
    color: 42506b; 
    padding: 20px 10px; 
    font-family: Arial; 
}
 
nav a:hover {
    background: #3e619b; 
    color: black; 
}