<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24"
                 class="d-inline-block align-text-top">
            Bootstrap
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liquors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cordials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>

<div align="center" class="container my-2">

<h1>Liquor Invent</h1>

    <a th:href = "@{/showNewLiquorForm}" class="btn btn-primary btn-sm mb-3"> Add Liquor </a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Liquor Name</th>
            <th>Liquor Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="liquor : ${listLiquors}">
            <td th:text="${liquor.liquorName}"></td>
            <td th:text="${liquor.liquorType}"></td>
            <td><a th:href="@{/showFormForLUpdate/{id}(id=${liquor.id})}" class="btn btn-primary">Update</a></td>
            <td><a th:href="@{/deleteLiquor/{id}(id=${liquor.id})}" class="btn btn-primary">Delete</a></td>
        </tr>

        </tbody>
    </table>
</div>




</body>
</html>